<div class="navbar">
    <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
    <div class="menu" id="menu">
      <a href="/">Anasayfa</a>
      <a href="/urunler">Ürünler</a>
      <a href="/sss">SSS</a>
    </div>
  </div>
  <script src="script.js"></script>
