<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css"/>
<title>E-Ticaret Sitesi Ana Sayfa</title>
</head>
<body>
  <%- include("../views/partials/navbar") %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <center>
  <img class="logo" src="https://cdn.glitch.global/717bd098-dff6-40bc-b95b-2319f06b2bcf/shop.png?v=1690897540751">
  </center>
  
  <br>
  <br>
  <br>
  <br>
  <div class="konu">
  <h1 style="text-align: center;">Bla Bla Shop</h1>
  <br>
  <br>
  <p style="text-align: center;"> Hoş Geldiniz! E-ticaret sitemizde sizin için özenle seçilmiş en yeni ve trend ürünleri bulabilirsiniz. Geniş ürün yelpazemizde, tarzınıza ve ihtiyaçlarınıza uygun pek çok seçenek mevcuttur. </p>
  </div>
</body>
<footer>
E-Ticaret Sitesi Altyapısı
</footer>
