<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css"/>
<title>E-Ticaret Sitesi | SSS</title>
</head>
<body>
  <%- include("../views/partials/navbar") %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <center>
  <img class="logo" src="https://cdn.glitch.global/717bd098-dff6-40bc-b95b-2319f06b2bcf/shop.png?v=1690897540751">
  </center>
  
  <br>
  <br>
  <br>
  <br>
  <div class="konu">
  <h1 style="text-align: center;">SSS (sık sorulan sorular)</h1>
  <br>
  <br>
  <h3> Ürünleri Nasıl Satın Alabiliriz?</h3>
  <p style="text-align: center;"> Almak İstediğiniz Ürünü <strong><a href="">Instagram</a></strong> Adresimize Yazarak Ürünü satın Alabilirsiniz </p>
  </div>
</body>
<footer>
E-Ticaret Sitesi Altyapısı
</footer>
